# <font color='yellow'>Exercices 11 à 16</font>

# Exercices sur polars

Exercices copiés de pandas (voir dossier pandas_tuto - cours PandasAXXX)

Date : 13/02/25 <br>
Editeur : Laurent Reynaud

In [10]:
import polars as pl
import numpy as np

## Importing polars

### Getting started and checking your polars setup

Difficulty: *easy* 

**1.** Import polars under the alias `pl`.

**2.** Print the version of polars that has been imported.

**3.** Print out all the *version* information of the libraries that are required by the polars library.

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data`.

In [11]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pl.DataFrame(data=data)
df

shape: (10, 4)
┌────────┬─────┬────────┬──────────┐
│ animal ┆ age ┆ visits ┆ priority │
│ ---    ┆ --- ┆ ---    ┆ ---      │
│ str    ┆ f64 ┆ i64    ┆ str      │
╞════════╪═════╪════════╪══════════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      │
│ snake  ┆ 0.5 ┆ 2      ┆ no       │
│ dog    ┆ NaN ┆ 3      ┆ yes      │
│ dog    ┆ 5.0 ┆ 2      ┆ no       │
│ cat    ┆ 2.0 ┆ 3      ┆ no       │
│ snake  ┆ 4.5 ┆ 1      ┆ no       │
│ cat    ┆ NaN ┆ 1      ┆ yes      │
│ dog    ┆ 7.0 ┆ 2      ┆ no       │
│ dog    ┆ 3.0 ┆ 1      ┆ no       │
└────────┴─────┴────────┴──────────┘

**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

**6.** Return the first 3 rows of the DataFrame `df`.

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

**8.** Select the data in rows `['cat']` with columns 'animal' *and* in columns `['animal', 'age']`.

**9.** Select only the rows where the number of visits is greater than 2.

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [25]:
df.filter(pl.col('age').is_nan())

shape: (2, 4)
┌────────┬─────┬────────┬──────────┐
│ animal ┆ age ┆ visits ┆ priority │
│ ---    ┆ --- ┆ ---    ┆ ---      │
│ str    ┆ f64 ┆ i64    ┆ str      │
╞════════╪═════╪════════╪══════════╡
│ dog    ┆ NaN ┆ 3      ┆ yes      │
│ cat    ┆ NaN ┆ 1      ┆ yes      │
└────────┴─────┴────────┴──────────┘

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

**12.** Select the rows the age is between 2 and 4 (inclusive).

**13.** Change the age in row 5 to 1.5.

**14.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

**15.** Calculate the mean age for each different animal in `df`.

**16.** Append a new row to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

**17.** Count the number of each type of animal in `df`.

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages.

---

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum?  Return that column's label.

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```