Lien : https://www.youtube.com/watch?v=193TtAL-4lc

DÃ©couverte aprÃ¨s dÃ©couverte de Polars ðŸ˜®ðŸ˜®ðŸ˜®

On peut utiliser la librairie Polars pour faire du SQL, et Ã  l'inverse, apprendre du SQL avec Polars...

Date : 07-03-23

In [1]:
import polars as pl

In [4]:
# RÃ©cupÃ©ration avec l'instruction scan_scv()
# pour pouvoir travailler sur le fichier
# au format SQL
df = pl.scan_csv('data/titanic.csv')

In [5]:
# Traitements pour travailler sous SQL
sql = pl.SQLContext()
sql.register('df', df)

In [6]:
# Filtre opÃ©rÃ© sous SQL : 
# 5 premiÃ¨res lignes des personnes Ã¢gÃ©es de + de 30 ans
sql.query("""
          SELECT Survived, Name, Sex, Age
          FROM df WHERE Age > 30 LIMIT 5  
          """)

shape: (5, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ Survived â”† Name                                â”† Sex    â”† Age  â”‚
â”‚ ---      â”† ---                                 â”† ---    â”† ---  â”‚
â”‚ i64      â”† str                                 â”† str    â”† f64  â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ 1        â”† Cumings, Mrs. John Bradley (Flor... â”† female â”† 38.0 â”‚
â”‚ 1        â”† Futrelle, Mrs. Jacques Heath (Li... â”† female â”† 35.0 â”‚
â”‚ 0        â”† Allen, Mr. William Henry            â”† male   â”† 35.0 â”‚
â”‚ 0        â”† McCarthy, Mr. Timothy J             â”† male   â”† 54.0 â”‚
â”‚ 1        â”† Bonnell, Miss. Elizabeth            â”† female â”† 58.0 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜